## CSV Log rotation
* ファイル書き込み・指定行数以上書き込みがされるなら,一番古いレコードを削除する

In [1]:
from datetime import datetime as dt
import pandas as pd

In [2]:
CSV_FILE_NAME = '../data/access_log.csv'
DROP_LINE_NUM = 0
DROP_LIMIT_NUM = 3

In [3]:
# 日々の書き込み: サンプルファイルなので、まとめて10日分を生成
for _ in range(10):
    with open(CSV_FILE_NAME, mode='a') as f:
        # header: No,item,datetime
        f.writelines(f"\nx,{'* '*5},{dt.now()}")
        f.close()

In [4]:
def file_limit_drop(df, file_name=None, drop_line_num=0, drop_limit_num=20):
    """ 指定行より書き込まれていた時一番古いレコードを削除 """
    if len(df) > drop_limit_num:
        df = df.drop(drop_line_num, axis=0)
        df.to_csv(file_name, index=False)
    print(len(df))
    return df

In [8]:
df = pd.read_csv(CSV_FILE_NAME)
df = file_limit_drop(df, CSV_FILE_NAME)
df.head(3)

35

  No        item                    datetime
1  x  * * * * *   2023-02-23 06:02:39.560668
2  x  * * * * *   2023-02-23 06:02:39.565162
3  x  * * * * *   2023-02-23 06:02:39.568324